
h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  text-align: center;
  font-family: 23px;
  font weight: bold;
}

p {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
}


nav{
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
 img{
   display: block;
   margin: auto;
 }

 .Design{
   font-family: Helvetica;
   font-size:23px;
   font-weight: bold;
   color:white;
 }

 .navig {
   text-align: left;
   font-family: Helvetica;
   font-size: 11px;
   color: white;
   background-color: dimgray
   }
